/.Xauthority
/.audacity-data/
/.cabal/
/.cache/
/.cpan/
/.dotfiles/
/.ghc/
/.gnupg/
/.googleearth/
/.ipython/
/.jupyter/
/.local/share/*
!/.local/share/applications
!/.local/share/qutebrowser
/.local/share/qutebrowser/*
!/.local/share/qutebrowser/userscripts
/.local/state/
/.mozilla/
/.nv/
/.pki/
/.ssh/
/.texlive2022/
/.vim/
/.viminfo
/.zoom/
/R/
/dl/
/dox/
/perl5/
/pix/
/vids/
/downloads/
/storage/
