/.Xauthority
/.audacity-data/
/.aws/
/.cabal/
/.cache/
/.cargo/
/.cpan/
/.cr3/
/.dotfiles/
/.ghc/
/.gnupg/
/.googleearth/
/.ipython/
/.jupyter/
/.keras/
/.local/share/*
!/.local/share/applications
!/.local/share/qutebrowser
/.local/share/qutebrowser/*
!/.local/share/qutebrowser/userscripts
/.local/state/
/.mongodb/
/.mozilla/
/.nv/
/.pki/
/.ssh/
/.texlive2023/
/.vim/
/.vimgolf/
/.viminfo
/.xdvirc
/.zoom/
/R/
/dl/
/dox/
/perl5/
/pix/
/vids/
/downloads/
/scikit_learn_data/
/storage/
