root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cc,cpp,hpp,cxx}]
indent_style = space
indent_size = 4
max_line_length = 79

[*.{c,h,java}]
indent_style = tab
tab_width = 4
max_line_length = 79

[*.py]
indent_style = space
indent_size = 4

[*.R]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.{tex,cls}]
indent_style = tab
tabwidth = 4

[*.md]
indent_style = space
indent_size = 4
max_line_length = 79

[*.{html,css,scss,js,jsx,ts,tsx,xml,inpx}]
indent_style = space
indent_size = 2

[*.{json,yml,yaml,toml}]
indent_style = space
indent_size = 2

[*.mail]
trim_trailing_whitespace = false

