# IMAP
set imap_authenticators = "oauthbearer:xoauth2"
set imap_oauth_refresh_command = "~/.mutt/mutt_oauth2.py ~/.mutt/tokens/${imap_user}.gpg"

set folder = "imaps://${imap_user}@imap.gmail.com/"
set spoolfile = +INBOX
unset record


# SMPT
set smtp_url = "smtps://${imap_user}@smtp.gmail.com"
set smtp_authenticators = ${imap_authenticators}
set smtp_oauth_refresh_command = ${imap_oauth_refresh_command}

set from = ${imap_user}
