[Unit]
Description=bugwarrior-pull

[Service]
ExecStart=/usr/bin/sh -c "/home/pablo/.local/bin/bugwarrior-pull && task sync"
Type=oneshot

[Install]
WantedBy=default.target
