# IMAP
set spoolfile = +INBOX
set trash = "+[Gmail]/Papelera"
set postponed = "+[Gmail]/Borradores"
unset record

# SMPT
set from = "pablo.cardenas@imca.edu.pe"
set hostname = "imca.edu.pe"
set smtp_url = "smtps://${from}@smtp.gmail.com"
set smtp_authenticators = "oauthbearer:xoauth2"
set smtp_oauth_refresh_command = "~/.config/mutt/mutt_oauth2.py ~/.config/mutt/tokens/${from}.gpg"
