# IMAP
set spoolfile = +INBOX
set trash = "+[Gmail]/Corbeille"
set postponed = "+[Gmail]/Brouillons"
unset record

# SMPT
set from = "pablocb2303@gmail.com"
set hostname = "gmail.com"
set smtp_url = "smtps://${from}@smtp.gmail.com"
set smtp_authenticators = "oauthbearer:xoauth2"
set smtp_oauth_refresh_command = "~/.config/mutt/mutt_oauth2.py ~/.config/mutt/tokens/${from}.gpg"
