set my_account = "pablocb2303@gmail.com"

# IMAP
set folder = "~/.local/share/mail/${my_account}"
set spoolfile = "+Inbox"
set trash = "+[Gmail]/Corbeille"
set postponed = "+[Gmail]/Brouillons"
unset record

# SMPT
set from = $my_account
set hostname = "gmail.com"
set smtp_url = "smtps://${from}@smtp.gmail.com"
set smtp_authenticators = "oauthbearer:xoauth2"
set smtp_oauth_refresh_command = "~/.config/mutt/mutt_oauth2.py ~/.config/mutt/tokens/${from}.gpg"

macro index G "!mbsync -c /home/pablo/.config/isync/mbsyncrc pablocb2303@gmail.com^M" "Update pablocb2303@gmail.com through mbsync"
